In [5]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [6]:
import os
import numpy as np
import pandas as pd

In [7]:
#f1 MUST be grite paraminer output
#f2 MUST be graank paraminer output

f1 = "gdrive/My Drive/Travail/STAGE/dat/sortieGRITE.txt"
f2 = "gdrive/My Drive/Travail/STAGE/dat/sortieGRAANK.txt"

In [8]:
itemsets = {} #dict to construct dataframe
nb_attributes = 0;
nb_lig = 0;

#fill dict from file1
with open(f1, "r") as file1:
  done = False
  for line in file1:
    # get number of attributes and number of transactions
    if (not done):
        if ("nb_attributes" in line):
          nb_attributes = int(''.join(x for x in line if x.isdigit()))
          print(nb_attributes, "attributes")
        if (line.isdigit and "r" not in line): #r to skip the "running with"
          nb_lig = int(line)
          print(nb_lig, "lines")
        if (nb_attributes != 0 and nb_lig != 0): done = True

    #itemsets
    else:
      if ('(' in line):
        i = line.index('(')
        j = line.index(')')
        itemsets[line[:i]] = [int(line[i+1:j])]

#fill dict from file2
with open(f2,"r") as file2:
  for line in file2:
    if ('r' not in line and '(' in line):
      i = line.index('(')
      j = line.index(')')
      itemsets[line[:i]].append(int(line[i+1:j]))

13 attributes
826 lines

In [20]:
df = pd.DataFrame.from_dict(itemsets,orient='index',columns=["GRITE","GRAANK"])

df["GRITE%"] = df["GRITE"]/(nb_lig)
#div graank support
df["GRAANK%"] = df["GRAANK"]/((nb_lig*(nb_lig-1))/2)

In [23]:
df

                 GRITE  GRAANK    GRITE%   GRAANK%
 1+                826  340725  1.000000  1.000000
 2+                826  340725  1.000000  1.000000
 3+                826  340725  1.000000  1.000000
 4+                826  340725  1.000000  1.000000
 5+                826  340725  1.000000  1.000000
...                ...     ...       ...       ...
 10+  11-  12+      25  116128  0.030266  0.340826
 11+  12+  13-       2       2  0.002421  0.000006
 11+  12+  13+      34   71392  0.041162  0.209530
 11+  12-  13-      46  152681  0.055690  0.448106
 11+  12-  13+      42  116650  0.050847  0.342358

[678085 rows x 4 columns]